@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoSemiBold;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}